.idea/*
_work/*

!bin/msvc-142-x64-release/*.dll
!bin/msvc-142-x64-release/*.exe

build/*
build-x86/*
cmake-build-debug/*
cmake-build-release/*

libs-local/*
lib/*

literature/*
local/*
tools/*


*.pyc

# shader debug files
*.unfolded


# for every subfolder for that some files should be included
# we have to include the foler, exclude the content of this folder except the files we want to include
!lib/assimp-4.1.0/
lib/assimp-4.1.0/*
!lib/assimp-4.1.0/LICENSE

!lib/boost-1.67.0/
lib/boost-1.67.0/*
!lib/boost-1.67.0/LICENSE

# Boxer is included in the repo!!!
!lib/boxer/
!lib/boxer/*

!lib/glfw-3.2.1/
lib/glfw-3.2.1/*
!lib/glfw-3.2.1/COPYING.txt

#GLAD included in the repo!!!
!lib/glad
!lib/glad/*

# GLIis included in the repo!!!
!lib/gli/
!lib/gli/*

# GLM is included in the repo!!!
!lib/glm-0.9.9.0/
!lib/glm-0.9.9.0/*

# ImGUI is included in the repo!!!
!lib/imgui/
!lib/imgui/*

# NFD is included in the repo!!!
!lib/nfd/
!lib/nfd/*

# STB is included in the repo!!!
!lib/stb/
!lib/stb/*